.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-bottom-color: rgba(92, 9, 121, 1);

  background: rgb(92, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(92, 9, 121, 1) 0%,
    rgba(92, 9, 96, 1) 25%,
    rgba(255, 255, 242, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
